<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rentals" href="/tabs/rentals">
      <ion-icon aria-hidden="true" name="key-outline"></ion-icon>
      <ion-label>Rentas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="assets" href="/tabs/assets">
      <ion-icon aria-hidden="true" name="cube-outline"></ion-icon>
      <ion-label>Activos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customers" href="/tabs/customers">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses" href="/tabs/expenses">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Egresos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more" href="/tabs/more">
      <ion-icon aria-hidden="true" name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
